/* ngf-required-field - ícone dentro de inputs */
/*.inner-addon {
    position: relative;
}

    .inner-addon .fa {
        position: absolute;
        padding: 3px;
        pointer-events: none;
        opacity: .8;
        z-index: 10;
        font-size: 10px;
    }

.left-addon .fa {
    left: 0px;
}

.right-addon .fa {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}*/

/* fim - ngf-required-field */


/*Tela Cadastro do Normativo*/
/*#formulario-cadastro-normativo .list-group {
    max-height: 204px;
    overflow: auto;
}

.painel-title-internal {
    padding: 8px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}*/


/*Tela Associar Perfil*/
/*.vertical-center-associar-perfil {
    min-height: 100%;
    min-height: 42vh;
    display: grid;
    align-items: center;
}*/

/* Tela desconectado */
/*#content-desconected {
    margin-top: 200px;
}*/


/*processo x-ms-webview arvore*/
/*.acao-processo-block {
    position: relative;
    padding-top: 20px;
}

    .acao-processo-block:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 27px;
        left: 50%;
        background: #D9D9D9;
        top: 0;
    }

    .acao-processo-block .acao-processo {
        width: 140px;
        display: inline-block;
        padding: 18px 5px;
        margin: 45px 20px 0 20px;
        position: relative;
    }

.acao-processo input {
    display: none;
}

.acao-processo i {
    font-size: 30px;
}

.acao-processo span {
    display: block;
}

.acao-processo:before,
.acao-processo:after {
    content: '';
    background: #D9D9D9;
    position: absolute;
    top: -40px;
    left: 50%;
}

.acao-processo:before {
    height: 39px;
    width: 1px;
}

.acao-processo:after {
    width: calc(50% + 25px);
    height: 1px;
}

.acao-processo:last-child:after {
    left: -25px;
}

.acao-processo:only-child {
    margin-top: 20px;
}

    .acao-processo:only-child:after {
        display: none;
    }

.lista-etapas {
    list-style: none;
}

    .lista-etapas li {
        border: 1px solid #D9D9D9;
        border-radius: 5px;
    }

        .lista-etapas li:nth-child(old) {
            background: #d1d1d1;
        }*/


/*.legenda {
    padding: 0;
}

    .legenda ul {
        padding: 0;
        display: inline-block;
        margin-left: 10px;
    }

    .legenda p {
        margin: 0;
        font-weight: bold;
        display: inline-block;
    }

    .legenda li {
        display: inline-block;
        padding-right: 10px;
    }

    .legenda span {
        display: inline-block;
        width: 10px;
        height: 10px;
    }
*/

/*#ngf-wizard {
    min-height: 500px;
}

.ngf-wizard {
    padding: 0;
    position: relative;
    width: 100%;
    display: table;
    margin-bottom: 35px;
}

    .ngf-wizard:before,
    .ngf-wizard  {
        height: 1px;
        content: '';
        position: absolute;
        left: 0;
        z-index: 1;
        top: 20px;
    }

    .ngf-wizard:before {
        border: 1px solid #D9D9D9;
        width: 100%;
    }

    .ngf-wizard {
        border: 1px solid #F39201;
    }

    .ngf-wizard li {
        display: inline-block;
        text-align: center;
        position: relative;
        z-index: 10;
    }

        .ngf-wizard li * {
            color: #b9b9b9;
            transition: all 0.5s;
        }

        .ngf-wizard li a div span {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            display: inline-block;
            background: #E9E9E9;
            z-index: 2;
            position: relative;
        }

        .ngf-wizard li a > span {
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 20px;
            z-index: 0;
        }

        .ngf-wizard li i {
            font-size: 20px;
            line-height: 41px;
            margin: auto;
            color: #FFF;
        }

        .ngf-wizard li a p {
            font-size: 12px;
        }

        .ngf-wizard li a {
            text-decoration: none;
            display: block;
        }

        .ngf-wizard li label {
            margin-top: 3px;
        }

        .ngf-wizard li a p,
        .ngf-wizard li a label {
            margin: 0;
        }

        .ngf-wizard li.active span {
            background: #F39201;
        }

        .ngf-wizard li.valid span {
            background: #05bb5b;
        }

        .ngf-wizard li.active label,
        .ngf-wizard li.active p {
            color: #F39201;
        }

        .ngf-wizard li.valid label,
        .ngf-wizard li.valid p {
            color: #05bb5b;
        }

#ngf-wizard.publicar-normativo {
    height: 500px;
}

    #ngf-wizard.publicar-normativo .drop {
        width: 100%;
        margin-top: 19px;
        display: block;
    }*/


/*.table-etapas tr > td:first-child {
    position: relative;
}

    .table-etapas tr > td:first-child span {
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        left: 1px;
    }

.arquivos-normativo {
    margin-top: -15px;
    margin-left: 3px;
}
*/

/*.table-normas th, .table-normas td {
    text-align: center;
}*/

/*.form-group label {
    display: block;
}*/

/*.margin-bottom15 {
    margin-bottom: 15px !important;
}

.margin-bottom0 {
    margin-bottom: 0;
}

.padding-top-bottom-2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.padding-top-bottom-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.no-padding-right {
    padding-right: 0;
}*/


/*componente*/
/*.list-usuarios {
    border: 0 none;
    list-style-type: none;
}

    .list-usuarios li {
        padding: 10px 0 7px 0;
        border-bottom: 1px solid #D9D9D9;
        text-transform: capitalize !important;
        font-size: 13px;
    }
*/

/* Tree */
/*.dvListTree {
    min-height: 200px;
    overflow: auto;
    max-height: 65vh;
}

.listTree {
    padding-left: 15px;
}

    .listTree, .listTree li ul {
        list-style-type: none;
    }

        .listTree, .listTree li {
            position: relative;
        }

.listChild, .listChildChild {
    padding-left: 20px;
    position: relative;
}

    .listChild::before, .listChildChild::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        margin-left: -13px;
        border-left: 1px solid #CCC;
        height: 100%;
    }

.listTree li span {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 8px 4px;
    border-left: 1px solid #FFF;
    border-radius: 2px;
    color: #555;
    font-size: 14px;
}

    .listTree li span:hover {
        background: linear-gradient(#f5f5f5,#e4e4e4);
    }

.listChild li span:not(.bold)::before, .listChildChild li span:not(.bold)::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    margin-left: -17px;
    margin-top: 10px;
    border-top: 1px solid #CCC;
    z-index: 1;
}

.list-item-parent-opened {
    background-color: #FFF !important;
}

    .list-item-parent-opened::before, .list-item-parent-collapsed::before {
        font-family: 'Glyphicons Halflings';
        margin-top: 8px;
        margin-left: -15px;
        font-size: 13px;
        cursor: pointer;
    }

.listChild .list-item-parent-opened::before,
.listChild .list-item-parent-collapsed::before {
    margin-left: -11px;
}

.list-item-parent-opened > span {
    color: #31708f;
}

.list-item-parent-opened::before {
    content: "\e114";
    color: #31708f;
    position: absolute;
}

.list-item-parent-collapsed::before {
    content: "\e080";
    position: absolute;
}

.list-item-parent-collapsed > ul {
    display: none;
}

.list-item-parent-opened > ul {
    display: block;
}

.list-selected {
    background: linear-gradient(#ceebff,#97d1f9) !important;
    color: #31708f !important;
}

.wizard-progress {
    border: 1px solid #F39201;
}

.wizard-progress {
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    top: 20px;
}

.panel h3.panel-title {
    font-size: 14px;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    cursor: pointer;
}

    .panel-default > .panel-heading:hover {
        background-color: #F2F2F2;
    }

.panel-associar {
    min-height: 262px;
}

.panel-border-radius {
    border-radius: 5px !important;
    border: 1px solid #D9D9D9 !important;
    overflow: hidden;
}

.panel-processo-usuarios {
    max-height: 490px;
    overflow: auto;
}


#ngf-wizard.publicar-normativo #content-upload {
    display: table;
    width: 100%;
    text-align: center;
}

    #ngf-wizard.publicar-normativo #content-upload > div {
        text-align: center;
        margin: auto;
        display: inline-block;
    }

        #ngf-wizard.publicar-normativo #content-upload > div .gallery-box {
            margin-top: 50px;
            width: 300px;
            border: 0 none;
        }

            #ngf-wizard.publicar-normativo #content-upload > div .gallery-box .icon-file {
                font-size: 100px;
                line-height: 170px;
            }