html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    padding-top: 50px;
    background: #ECF0F1;
    color: #666;
    position: relative;
    margin: 0;
    min-height: 100%;
    width: 100%;
    display: table;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#wrapper {
    transition: all linear 0.5s;
}

    #wrapper.ng-hide {
        opacity: 0;
    }

.clickable,
[ng-click] {
    cursor: pointer;
}

.checkbox-center {
    margin: auto;
    display: inline-block;
}

.body-content {
    min-height: 87vh;
    max-width: 1450px;
}

    .body-content,
    .body-content.open {
        transition: 0.5s all;
    }

        .body-content.with-aside.open {
            margin-left: 230px;
        }

.breadcrumb {
    padding: 0;
    margin-bottom: 0px;
    list-style: none;
    background: none;
    border: 0 none;
}

.dropdown-menu > li > a {
    padding: 5px 12px;
}

    .dropdown-menu > li > a > i {
        margin-right: 3px;
    }

.dropdown-menu .divider {
    margin: 5px 0;
}

.toggle-container {
    padding: 4px;
    box-shadow: 0 1px 1px #FFF;
    border-bottom: 1px solid #DDD;
}

    .toggle-container:hover {
        background: #FFF;
        border-radius: 2px;
        box-shadow: inset 2px 2px 1px #DDD;
        border-bottom: 1px solid transparent;
    }

    .toggle-container:active {
        position: relative;
        top: 2px;
        opacity: 0.8;
    }

    .toggle-container.ativo {
        background: #FFF;
        border-radius: 2px;
        box-shadow: inset 2px 2px 1px #DDD;
        border-bottom: 1px solid transparent;
    }


.table-grid {
    overflow: auto;
    position: relative;
}

    .table-grid .ng-leave-active {
        display: none;
    }

.table-striped > tbody > tr.disabled {
    background: #f1f1f1;
    opacity: 0.7;
}

.ui-state-highlight {
    height: 50px;
    background: green;
    display: block;
}

.ui-sortable-placeholder {
    visibility: visible !important;
    background: red;
}

.edit-buttons {
    text-align: center;
    line-height: 24px;
}

.label-check {
    display: inline-block;
    background: #ECF0F1;
    color: #555;
    padding: 4px;
    font-size: 14px;
    margin: 6px 0 6px 6px;
}

.list-modal {
    height: 50vh;
    overflow: auto;
}

/*ngListSelect*/
.select-list {
    background: none;
    background-image: none !important;
    border: none;
    width: 100%;
}

    .select-list:focus {
        background: none;
        background-image: none !important;
    }

    .select-list option {
        padding: 5px;
    }

/*form*/
.control-label {
    margin-bottom: 1px;
    /*font-weight: normal;*/
}

.letter-user {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 !important;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    padding: 0;
    padding-left: 2px;
}

.painel-list {
}

    .painel-list ul {
        padding: 0;
        list-style: none;
    }

        .painel-list ul li {
        }


/*ui select*/

.selectize-control {
    top: 2px;
}

    .selectize-control > .selectize-dropdown {
        top: 34px;
    }

.processo-acompanhamento-anexo {
    height: 212px;
}

/*datepicker*/
.uib-datepicker .btn-default {
    border: 0 none;
    box-shadow: none;
}

.uib-datepicker .btn-info .text-info {
    color: #fff;
}

[uib-daypicker] {
    outline: none;
}