.bg-primary {
    color: #fff;
    background: linear-gradient(#3498DB, #2980B9);
}

pre {
    background: linear-gradient(#f5f5f5,#e4e4e4);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #DEDEDE;
}

.table > thead > tr > th {
    border: 2px solid #fff !important;
    background: #E9E9E9;
}

.table > tbody > tr:first-child > td {
    border-top: 2px solid #89bde0 !important;
}

.table-hover > tbody > tr:hover {
    background: #F1F1F1;
    cursor: default;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background: linear-gradient(#f5f5f5,#e4e4e4);
}

.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 6px #67b168;
}

/*.btn-lg,
.btn-group-lg > .btn {
    border-radius: 4px;
}

.btn-primary {
   background: #f39200;
   border: 1px solid #f39200;
}*/

/*.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
   background: #ff9f0e;
   border: 1px solid #ff9f0e;
}*/

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: linear-gradient(#f5f5f5,#e4e4e4);
}

.breadcrumb {
    background: linear-gradient(#f5f5f5,#e4e4e4);
}

.label-primary {
    background: linear-gradient(#3498DB, #2980B9);
}

.progress {
    background-color: #f5f5f5;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    background: linear-gradient(#f5f5f5,#e4e4e4);
}

.panel {
    border: 1px solid #E9E9E9;
    box-shadow: none;
    border-radius: 0;
}

.panel-footer {
    background-color: #f5f5f5;
}

.panel-primary {
    border-color: #2980B9;
}

    .panel-primary > .panel-heading {
        background-color: #337ab7;
    }

.well {
    background: linear-gradient(#f5f5f5,#e4e4e4);
}

/* menu */
.navbar-brand {
    min-width: 230px;
    /*background: #2472a4;*/
}

.navbar-fixed-top {
    background: #2980B9;
    border-width: 0 0 3px;
    border-color: #F39201;
}

.navbar-header > a,
.navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a,
nav.sidebar.open ul li.open > a,
nav.sidebar ul li:hover > a,
.navbar-inverse .navbar-brand {
    color: #fff !important;
    text-shadow: none;
}

.navbar-brand > img,
.navbar-header > a span {
    float: left;
}

.navbar-header > a span {
    margin-top: 12px;
    margin-left: 8px;
}

nav.sidebar a {
    color: #337ab7 !important;
}

nav.sidebar li .caret {
    color: #F39201;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a.active {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    /*background: rgba(0,0,0,0.2);*/
    opacity: 0.8;
}

#loading-bar .bar {
    background: #f39200;
    top: 50px;
    height: 3px;
    box-shadow: none;
}

#loading-bar-spinner {
    display: none;
    z-index: 1040 !important;
}

#loading-bar .peg {
    box-shadow: none;
}

.alert {
    padding: 8px 12px;
}
