@media (max-width: 1600px) {
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 0 -20px 0;
    }

        .body-content.with-aside {
            margin-left: 50px;
        }
}

@media(max-width: 1024px) {
    body {
        display: inline-block;
    }

    .header-content {
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    nav.sidebar:not(.open) {
        margin-left: -230px !important;
    }

    .body-content,
    .body-content.open {
        margin: 0 10px !important;
        padding: 0;
    }

    .navbar-header a {
        border-right: 0 !important;
        box-shadow: none;
    }

    .navbar-fixed-top .navbar-collapse.collapse {
        display: block;
        padding: 0;
        float: right;
        border: 0 none;
    }

    header .nav.navbar-nav {
        margin: 0;
        float: right;
    }

    header .navbar-collapse ul ul.dropdown-menu {
        position: absolute !important;
        background: #fff !important;
        border: 1px solid #d9d9d9 !important;
    }

        header .navbar-collapse ul ul.dropdown-menu .divider {
            background-color: #CCC !important;
        }

        header .navbar-collapse ul ul.dropdown-menu a {
            color: #585858 !important;
        }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding-left: 15px;
    }

    .navbar-collapse.collapse .profile-image {
        padding: 9px 8px 12px;
    }

        .navbar-collapse.collapse .profile-image span:not(.letter-user) {
            display: none;
        }

    .navbar-fixed-top .navbar-header {
        float: left;
    }

    .navbar-fixed-top .toggle-left-sidebar {
        float: left;
        line-height: 0;
        padding: 16px 14px;
    }

        .navbar-fixed-top .toggle-left-sidebar i {
            font-size: 17px;
        }

    .navbar-brand {
        min-width: 215px;
    }

    .navbar-nav > li > a.profile-image {
        padding: 8px 8px 8px;
    }

        .navbar-nav > li > a.profile-image .letter-user {
            width: 25px;
            height: 25px;
            font-size: 18px;
            line-height: 26px;
            padding: 0;
            padding-left: 0;
            margin-top: 4px !important;
        }

    #bs-sidebar-navbar-collapse-1 {
        display: block;
    }

    aside i.hidden-xs {
        display: block !important;
    }

    aside .container-fluid > .navbar-collapse {
        margin: 0;
    }

    aside .navbar-nav {
        margin: 15px 0;
    }

        aside .navbar-nav li a {
            padding: 15px;
        }

    nav.sidebar {
        padding-top: 0;
    }

    header nav.sidebar .navbar-collapse,
    header nav.sidebar .container-fluid {
        padding: 0 15px;
    }

    nav.sidebar li a i {
        margin-top: 4px;
    }

    nav.sidebar ul li a i {
        float: left;
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media(max-width: 768px) {
    .alert {
        margin-bottom: 10px;
    }
}

@media(max-width: 767px) {
    .header-content {
        border-bottom: 1px solid #D9D9D9;
        padding: 15px 10px 10px 11px;
    }

    ngf-summary {
        margin-bottom: 15px;
        display: block;
    }

    .modal-dialog {
        max-width: calc(100% - 10px);
        margin: 5px;
    }

    .modal-body {
        padding: 10px;
    }

    .modal-footer {
        padding: 10px;
        text-align: left;
    }

    .modal-header {
        padding: 8px 10px 6px;
    }

    .alert {
        padding: 2px 6px;
    }

    .form-group {
        margin-bottom: 6px;
    }

    ngf-summary .col-sm-8,
    ngf-summary .col-sm-4 {
        display: table;
        width: 100%;
        text-align: left;
    }
}