.checkbox-center {
    margin: auto;
    display: inline-block;
}

    .checkbox-center .checkbox3 label {
        display: inline-block;
        padding: 8px 0 11px 21px;
    }


.checkbox-break-line label {
    white-space:  normal !important;
}