.text-white,
.text-white a {
    color: #EFEFEF;
    text-shadow: 0 1px 0px #666;
}

    .text-white a:hover,
    .text-white a:focus {
        color: #666;
        text-shadow: 0 1px 0px #FFF;
    }

.text-black {
    color: #666;
    text-shadow: 0 1px 0px #FFF;
}

.bg-red {
    background: #d9534f;
}

.bg-green {
    background: #5cb85c;
}

.bg-blue {
    background: #5bc0de;
}

.bg-yellow {
    background: #f0ad4e;
}

.bg-gray-darker {
    background: #222;
}

.bg-gray-dark {
    background: #333;
}

.bg-gray {
    background: #555;
}

.bg-gray-light {
    background: #777;
}

.bg-gray-lighter {
    background: #eee;
}