.grid-view dt,
.grid-view dd {
    display: block;
}

.grid-view dd {
    margin-bottom: 10px;
    min-height: 18px;
    display: table;
    width: 100%;
}

    .grid-view dd ul li {
        list-style: none;
    }