.dl-horizontal dt {
    white-space: normal;
}

.align-middle {
    vertical-align: middle !important;
}

.border-top-none {
    border-top: none !important;
}

.border-bottom-none {
    border-bottom: none !important;
}

.pointer {
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}