.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal {
    text-align: center;
}

.modal-body-fixed {
    height: 500px;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body-fixed {
    height: 500px;
    overflow-y: auto;
}

.modal-body-300 {
    height: 300px;
    overflow: auto;
}

.modal-body-350 {
    height: 350px;
    overflow: auto;
}