.table .checkbox3 label::after,
.table .checkbox3 label::before {
    top: 4px;
}

.row-selected {
    background: linear-gradient(#ceebff,#97d1f9) !important;
}

    .row-selected:hover {
        background: linear-gradient(#ceebff,#97d1f9) !important;
    }

.table-td-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    width: 98%;
}