/*text*/
.text-bold {
    font-weight: bold;
}

.text-empty {
    font-style: italic;
    opacity: 0.7;
}

.text-normal {
    white-space: normal !important;
    font-weight: normal;
}

.bold,
.text-bold {
    font-weight: bold;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}